  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      color: #fff;
      font-family: 'Varela Round', sans-serif;
  }

  body {
      min-height: 100vh;
      background-image: linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  input {
      font-size: 1em;
  }

  h1 {
      font-family: Satisfy;
      font-size: 160px;
      line-height: 204px;
      font-weight: 400;
      text-shadow: 0px 0px 36px #00000087;
  }

  h2 {
      font-size: 2em;
      line-height: 38px;
      font-weight: 400;
  }

  p {
      margin-top: 1.5em;
      font-size: 1em;
      line-height: 20px;
      color: #F9F9F9;
      text-align: center;
  }

  .main-form {
      display: flex;
      line-height: 20px;
      color: #F9F9F9;
      margin-top: 3em;
      gap: 3em;
      text-align: start;
  }

  .pair {
      display: flex;
      flex-direction: column;
  }

  #full-name,
  #email {
      width: 26.125em;
      height: 3em;
      background: #F6F6F624;
      background-clip: padding-box;
      border: 2px solid #FFFFFF;
      display: inline-block;
  }

  #submit-button {
      display: inline-block;
      font-family: 'Varela Round', sans-serif;
      line-height: 20px;
      width: 12em;
      height: 3em;
      margin-block-start: auto;
      background-color: #fff;
      text-align: center;
      border-style: none;
  }

  #submit-button:hover {
      color: #fff;
      background-color: #281EFF;
  }

  button,
  input[type="submit"] {
      cursor: pointer;
  }

  @media (max-width: 768px) {
      body {
          padding-inline: 25px;
          margin: auto;
          align-items: stretch;
      }

      h1 {
          margin-bottom: 0.5em;
          font-size: 60px;
          line-height: 86px;
      }

      h2 {
          font-size: 18px;
          line-height: 22px;
      }

      .main-form {
          flex-direction: column;
          margin-top: 6em;
          font-size: 11px;
          line-height: 13px;
          gap: 1em;
      }

      #full-name,
      #email,
      #submit-button {
          width: 100%;
          height: 2.7em;
      }

      #submit-button {
          color: #2823FD;
      }
  }